@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: black;
  overflow: hidden;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
}

.container {
  padding: 40px;
  width: 90%;
  max-width: 400px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  backdrop-filter: blur(20px);
}

.container:hover {
  transform: scale(1.03);
}

h2 {
  color: white;
  margin-bottom: 10px;
}

p {
  color: white;
  font-size: 14px;
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 12px;
  border: 2px solid #ff5733;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  transition: 0.3s;
}

input:focus {
  border-color: #ff9a9e;
  box-shadow: 0px 0px 5px rgba(255, 87, 51, 0.5);
}

button {
  background-color: #ff5733;
  color: white;
  border: none;
  padding: 12px 25px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 8px;
  margin-top: 15px;
  transition: all 0.3s ease;
  font-weight: 600;
}

button:hover {
  background-color: #d84315;
  box-shadow: 0px 4px 10px rgba(216, 67, 21, 0.5);
}

#yourdetails {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
  font-weight: bold;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    width: 80%;
    padding: 30px;
  }

  input {
    font-size: 14px;
    padding: 10px;
  }

  button {
    font-size: 14px;
    padding: 10px 20px;
  }
}

@media (max-width: 480px) {
  .container {
    width: 80%;
    padding: 25px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 12px;
  }

  input {
    font-size: 14px;
    padding: 8px;
  }

  button {
    font-size: 14px;
    padding: 8px 15px;
  }
}
